body,
html {
  color: wheat;
  background-color: #151515;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
}

.column {
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

#gallery {
  gap: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gallery-container {
  height: auto;
  max-height: 100%;
  transition: max-height 0.2s ease-out;
}

.image {
  margin: auto;
  border-radius: 15px;
  height: 90%;
  width: 90%;
  box-shadow: 0 0 5px rgba(35, 173, 278, 1);
}

.image-container {
  max-height: 400px;
  transition: max-height 0.6s ease-out;
  margin: auto;
  width: 35vw;
  height: 15vh;
  border-radius: 15px;
}

.image:hover {
  box-shadow: 0 0 16px rgba(35, 173, 278, 1);
}

.scaler {
  height: 10vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputs {
  max-height: 400px;
  transition: max-height 0.6 ease-out;
}

#inputs-holder {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
}

#setup {
  text-align: center;
}

#play-button {
  margin: 20px;
  width: 30vw;
  height: 15vw;
}
