.scaler {
  height: 10vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputs {
  max-height: 400px;
  transition: max-height 0.6 ease-out;
}

#inputs-holder {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
  flex: 1;
}

#setup {
  display: flex;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

#gallery {
  display: flex;
  flex: 3;
  margin-bottom: 0;
  margin-top: 0;
  flex-wrap: wrap;
}

.image-container {
  flex: 1 0 21%;
  height: 30%;
  transition: max-height 0.6s ease-out;
  margin: auto;
}

.image {
  margin: auto;
  border-radius: 15px;
  height: 90%;
  width: 90%;
  box-shadow: 0 0 9px #151515;
}
