body, html {
  /*min-width:600px;*/
  /*min-height: 300px;*/
  overflow: auto;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: calc(0.75em + 1vmin);
  bottom: 0;
}

.column {
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

/********** menu/ navigation [HEADER]*********/
#menu {
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  position: relative;
}

#menu-links {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#menu-icon {
  cursor: pointer;
  margin-right: 15px;
  height: 100%;
  min-width: 30px;
  width: 50px;
}

#menu-logo-a {
  display: inline-block;
  line-height: 1;
}

#menu-logo-img {
  margin-left: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#menu .link {
  background-color: rgb(20, 20, 20);
  padding: 20px 24px;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  display: block;
  color: white;
}

#menu .link:hover, .link:active {
  background-color: #333;
}

#menu-header {
  clear: both;
  height: 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.hamburger-rect {
  fill: rgb(255, 255, 255);
  width: 100px;
  height: 20px;
}

/******************** image **********************/
#avatar-cropper {
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  height: 60vw;
  width: 60vw;
}

#avatar {
  display: table;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

/****************** intro ********************/
#intro {}

/************ auxiliary classes **************/
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/****************** it-interests ********************/
#it-interests-container {
  margin-top: 20vw;
  background-color: rgb(20, 20, 20);
}

#it-interests {
  color: white;
}

#it-interests-text-container {
  font-size: 4.5vw;
  padding-top: 10%;
  padding-bottom: 20rem;
  width: 80%;
  text-align: center;
}

/****************** skills ********************/
#skills-overlay {
  border-radius: 30px;
  border-color: rgba(136, 144, 189, 0.23);
  border-width: 3px;
  border-style: solid;
  top: -16rem;
  position: relative;
  background: white;
  color: #141c3a;
}

.skills-list {
  box-sizing: border-box;
  width: 100%;
  font-size: 3.5vw;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
}

.skills-list ul {
  width: 100%;
}

.skills-header {
  text-align: center;
  font-size: 4.0vw;
}

.skills-element {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/**************** projects ******************/
#projects {
  background-color: black;
  display: flex;
  flex-direction: column;
}

#projects a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: white;
  height: 50vw;
}

/**************** contact ******************/
