/* line 3, ../sass/menu.scss */
#menu {
  z-index: 3;
  overflow: hidden;
  background-color: #141414;
  position: relative;
}
/* line 8, ../sass/menu.scss */
#menu .link {
  text-align: center;
  background-color: #141414;
  padding: 20px 24px;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  font-size: 4vw;
  display: block;
  color: white;
}
/* line 18, ../sass/menu.scss */
#menu .link:hover, #menu .link:active {
  background-color: #333;
}
/* line 23, ../sass/menu.scss */
#menu #menu-links {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* line 29, ../sass/menu.scss */
#menu #menu-icon {
  cursor: pointer;
  margin-right: 15px;
  height: 100%;
  min-width: 30px;
  width: 50px;
}
/* line 35, ../sass/menu.scss */
#menu #menu-icon .hamburger-rect {
  fill: white;
}
/* line 39, ../sass/menu.scss */
#menu #menu-logo-a {
  display: inline-block;
  line-height: 1;
}
/* line 43, ../sass/menu.scss */
#menu #menu-logo-img {
  margin-left: 2%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* line 49, ../sass/menu.scss */
#menu #menu-header {
  clear: both;
  height: 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  /*----- menu -----*/
  /* line 60, ../sass/menu.scss */
  #menu-header {
    height: 40px;
  }

  /* line 63, ../sass/menu.scss */
  #menu-icon {
    transform: scale(0.5);
  }

  /* line 66, ../sass/menu.scss */
  #menu .link {
    font-size: 2vw;
  }

  /* avatar section */
  /* line 70, ../sass/menu.scss */
  #intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* line 76, ../sass/menu.scss */
  #avatar-cropper {
    height: 20vw;
    width: 20vw;
  }
}
