/* line 3, ../sass/triangles.scss */
.down-right-triangle, .up-left-triangle, .up-left-triangle-ext {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

/* line 11, ../sass/triangles.scss */
.down-right-triangle {
  background: #141414;
  clip-path: polygon(100% 53%, 0% 100%, 100% 100%);
}

/* line 17, ../sass/triangles.scss */
.up-left-triangle, .up-left-triangle-ext {
  background: #141414;
  clip-path: polygon(100% 0, 0 36%, 0 0);
}

/* line 23, ../sass/triangles.scss */
.up-left-triangle-ext {
  top: -2.5vh;
}
